* {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
  padding: 0;
  background: transparent;
  border: none;
}

.icon {
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  margin: 10px;
  cursor: pointer;
  position: relative;
  background-position: center;
}

.icon:hover {
  transform: scale(1);
}

.icon1 {
  background-image: url('./icon/AnvIconList.svg');
}

.icon2 {
  background-image: url('./icon/BehanceIcon.svg');
}

.icon3 {
  background-image: url('./icon/Close.svg');
}

.icon4 {
  background-image: url('./icon/DeviantartIcon.svg');
}

.icon5 {
  background-image: url('./icon/DribbbleIcon.svg');
}

.icon6 {
  background-image: url('./icon/GithubIcon.svg');
}

.icon7 {
  background-image: url('./icon/NavIconAbout.svg');
}

.icon8 {
  background-image: url('./icon/NavIconGbook.svg');
}

.icon9 {
  background-image: url('./icon/NavIconHome.svg');
}

.icon10 {
  background-image: url('./icon/Navigation.svg');
}

.menu {
  height: 100vh;
}

.activeMenu::after {
  content: '';
  position: absolute;

  top: 7px;
  right: -11px;
  height: 70%;

  width: 3px;
  /* 线的宽度 */
  background-color: black;
  /* 线的颜色 */
}

bodyx {
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* 标准语法 */
}

#list {
  padding-right: 10px;
}

#content {
  overflow: auto;
  height: calc(100vh - 180px);
  flex: 1;
  padding: 140px 0 40px 0;
  padding-left: 200px;
  line-height: 30px;
}


body {
  color: var(--color);
  background: var(--background);
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.page {
  animation: fadeInOut 1s forwards;
  height: 100vh;
}

#infopage,
#homepage {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mx {
  margin: 0 40px;
}

li {
  cursor: pointer;
  margin: 5px 0;
}

.name {
  font-weight: bold;
  font-size: 16px;
}

.desc {
  font-size: 14px;
}

.main {
  display: flex;
}

#list {
  width: 300px;
  height: calc(100vh - 80px);
  padding: 40px 0;
  overflow: auto;
  padding-right: 10px;
}

#list::-webkit-scrollbar {
  display: none;
}

#backLine {
  display: none;
}

img {
  max-width: 500px;
}

#content::-webkit-scrollbar {
  /* padding: 500px; */
  left: 20px;
  width: 7px;
  height: 7px;
  background-color: #aaaaaa;
  overflow-x: hidden;
  scrollbar-3dlight-color: #aaaaaa;
  scrollbar-arrow-color: white;
  scrollbar-base-color: white;
  scrollbar-face-color: #aaaaaa;
  border-radius: 5px 5px;
}

/* 定义滚动条轨道 内阴影+圆角 */
#content::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
  border-radius: 10px;
  background-color: white;
}

/*定义滑块 内阴影+圆角*/
#content::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #aaaaaa;
}

body::-webkit-scrollbar {
  display: none;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: 1px solid #eee;
}

.mdItem {
  margin: 10px;
  padding: 0 0.625rem 0.625rem 0.625rem;
  border-radius: 0.625rem;
}
.mdItem .name {
  line-height: 20px;
  font-size: 16px;
}
.mdItem .desc {
  line-height: 20px;
}
.desc {
  display: -webkit-box;
  /* 使用flexbox布局 */
  -webkit-line-clamp: 2;
  /* 限制显示的行数 */
  -webkit-box-orient: vertical;
  /* 设置为垂直方向排列 */
  overflow: hidden;
  /* 隐藏溢出部分的文本 */
  text-overflow: ellipsis;
  /* 显示省略号 */
}

.mdItem:hover {
  background-color: #e1e1e1;
}

.line {
  display: flex;
  align-items: center;
}

#contentpage {
  display: flex;
}

.mobile-head-tool {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
}

.mobile-menu {
  display: none;
  position: absolute;
  width: 100vw;
  z-index: 999;
  background-color: #fff;
}

.mobile-menu .line {
  border-bottom: 2px solid #e1e1e1;
}

/* 手机端媒体查询 */
@media only screen and (max-width: 600px) {
  .main {
  }

  .page {
    width: 100vw;
  }

  #content {
    word-break: break-all;
    padding: 20px;
    height: calc(100vh - 100px);
  }

  img {
    max-width: calc(100vw - 40px);
  }
  #content-black {
    display: none;
  }
}
